.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 65px;
  font-size: 18px;
  font-weight: 700;
  background: #2C4A7E;
  border: none;
  border-radius: 18px;
  color: #ffffff;
  cursor: pointer;
}