.input-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  padding: 16px;
  border: 1px solid transparent;

  &__error {
    border-color: #ba5349;
  }

  label {
    margin-bottom: 16px;
    font-size: 15px;
    color: #868b96;
    line-height: 0.9em;
  }

  input {
    display: flex;
    align-items: center;
    height: 32px;
    font: normal 18px 'Roboto', sans-serif;
    color: #3d4658;
    line-height: 0.9em;
    background: transparent;
    border: none;

    &::placeholder {
      color: #3d4658;
    }
  }

}