.input-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  padding: 16px;
  border: 1px solid transparent;

  &__error {
    border-color: #ba5349;
  }

  label {
    margin-bottom: 16px;
    font-size: 15px;
    color: #868b96;
  }

  input {
    display: flex;
    align-items: center;
    height: 32px;
    font: normal 18px 'Roboto', sans-serif;
    color: #3d4658;
    background: transparent;
    border: none;

    &::placeholder {
      color: #3d4658;
    }

    &:-internal-autofill-selected {
      -webkit-text-fill-color: #3d4658 !important;
      text-fill-color: #3d4658 !important;
      -webkit-box-shadow: 0 0 0 1000px transparent inset;
      box-shadow: 0 0 0 1000px transparent inset;
      transition: background-color 5000s ease-in-out 0s;
    }
  }

}