.steps-block {
  margin-top: 15px;
  margin-bottom: 8px;
  padding:18px;
  border-radius:18px;
  background:#0C1527;

  h3 {
    margin-bottom: 32px;
    text-align: center;
    font-weight: 400;
  }
}

.steps-row {
  display: flex;
  /*justify-content: space-between;*/
  column-gap: 16px;
  padding-left: 6px;
  padding-right: 6px;

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
   /* width:37px;
    height:39px;*/
    padding:13px 14px;
    border-radius:14px;
    font-size:15px;
    background: #132240;

    &__active {
      background: #2C4A7E;
    }
  }
}

.line {
  height: 1px;
  width: 100%;
  background: #242C3D;
  align-self: center;
}