.switcherBlock {
  padding-top: 16px;
}

.block {
  display: flex;
  justify-content: space-between;
  column-gap: 8px;
  padding: 16px;
  border-radius: 18px;
  background: #0D182E;

  h2 {
    font-size: 17px;
    margin-bottom: 11px;
  }

  p {
    color: #868B96;
  }

  &:first-of-type {
    margin-bottom: 8px;
  }

  > div:nth-of-type(2) {
    display: flex;
    align-items: center;
  }
}