.block {
  border-radius: 18px;
  background: #0D182E;
}

$header_height: 90px;

.vp-wrap {
  display: flex;
  flex-direction: column;
  height: calc(100vh - #{$header_height});
}

.vp-button {
  margin-top: auto;
  margin-bottom: 25px;
}