@import 'src/components/Common/Variables/variables';

@mixin bottomPopUpMixin() {
  .bottom-popup {
    position: fixed;
    left: 0;
    bottom: -1000px;
    transition: all 800ms;
    width: 100%;
    z-index: 100;

    :global(.resize) {
      padding-top: 16px;
      background: #111E39;
      border-radius: 18px 18px 0 0;
      height: auto;
      max-height: calc(100vh - #{$header_height});
      position: relative;
      transition: all 800ms;
      bottom: -1000px;
    }

    &.popup-show {
      bottom: 0;

      :global(.resize) {
        bottom: 0;
      }
    }
  }
}

@mixin topPopUpHeaderOffset($top-left-radius: 24px, $top-right-radius: 24px) {
  position: fixed;
  left: 0;
  top: -1000px;
  transition: all 800ms;
  width: 100%;
  z-index: 100;

  :global(.resize) {
    position: relative;
    padding-top: 16px;
    background: #111E39;
    border-radius: $top-left-radius $top-right-radius 0 0;
    height: calc(100vh - #{$header_height});
    overflow: auto;
    transition: all 800ms;
    top: -1000px;
  }

  &.popup-show {
    top: $header_height;

    :global(.resize) {
      top: 0;
    }
  }
}