@import "../../../Common/Mixins/mixins";

$header_height: 90px;

@include bottomPopUpMixin();

.settings-popup {

  &__inner-wrap {
    height: auto;
    overflow: auto;
  }

  h2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 32px;
  }

  .block {
    background: #0D182E;
    border-radius: 18px;
    padding: 16px;

    &:not(:last-of-type) {
      margin-bottom: 8px;
    }

    &:last-of-type {
      margin-bottom: 24px;
    }

    &.dropdownBlock {
      padding: 0;
    }
  }

  h3, label {
    font-size: 15px;
    font-weight: 400;
    color: #868B96;
    margin-bottom: 16px;

    & + p, & + input {
      font-size: 20px;
      font-weight: 400;
    }
  }

  label {
    display: block;
  }

  input {
    padding: 0;
    border: none;
    background: none;
    color: #ffffff;
    height: 18px;
  }

  .addressBlock {
    padding: 18px;
    margin-bottom: 24px;

    h3 {
      margin-bottom: 24px;

      & + p {
        font-size: 16px;
        font-weight: 600;
      }
    }
  }

  :global(.resize) {
    padding-top: 18px;
  }

  .saveBtn {
    margin-bottom: 24px;
  }

  .enabledBtn {
    opacity: 1;
  }

  .disabledBtn {
    opacity: 0.3;
  }
}

.createWallet {
  input {
    color: #3D4658;

    &::placeholder {
      color: #3D4658;
    }
  }

  .addressBlock {
    display: flex;
    justify-content: space-between;

    > div:nth-of-type(2) {
      width: 51.5px;
      height: 51px;
    }
  }
}

.dropdownWrap {
  position: relative;
  cursor: pointer;
  padding: 16px;

  span {
    font-size: 18px;
  }

  > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  > ul {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 100%;
    height: auto;
    background: #0D182E;
    padding-top: 5px;
    border: 5px solid #091223;
    border-radius: 18px;
    z-index: 3;

    li {
      padding: 5px 16px;
      margin-bottom: 10px;
    }
  }

  .icon-flipped {
    transform: rotate(180deg);
  }

  button {
    background: none;
    border: none;
  }
}




