.linkWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius:18px;
  padding:16px;
  background:#0D182E;
  cursor:pointer;

  span {
    font-size: 18px;
  }

  img {
    transform:rotate(270deg);
  }
}