.block {
  border-radius: 18px;
  background: #0D182E;
}

.copy-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 14px;
  margin-bottom: 8px;

  p {
    font-size: 16px;
    font-weight: 700;
  }
}
