@import "src/components/Common/Mixins/mixins";
$header_height: 90px;

@include bottomPopUpMixin();

.settings-popup {

  &__inner-wrap {
   /* height: auto;
    overflow: auto;*/
  }

  h2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 32px;
  }
}


