@import 'src/components/Common/Variables/variables';

$popup_gap: 64px;

@import "src/components/Common/Mixins/mixins";

@include bottomPopUpMixin();

.history-popup {

  &__scrollable-wrap {
    height: auto;
    overflow: auto;
    max-height: calc(100vh - #{$header_height} - #{$popup_gap});
  }
}
