$header_height: 90px;
$popup_gap: 64px;

.history-popup {
  position: fixed;
  left: 0;
  bottom: -1000px;
  transition: all 800ms;
  width: 100%;
  z-index: 100;

  :global(.resize) {
    padding-top: 16px;
    background: #111E39;
    border-radius: 18px 18px 0 0;
    height: auto;
    max-height: calc(100vh - #{$header_height});
    position: relative;
    transition: all 800ms;
    bottom: -1000px;
  }

  &.popup-show {
    bottom:0;
    :global(.resize) {
      bottom:0;
    }
  }

  &__scrollable-wrap {
    height: auto;
    overflow: auto;
    max-height: calc(100vh - #{$header_height} - #{$popup_gap});
  }

  &__close {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 24px;

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 24px;
      height: 24px;
      background: none;
      border: none;
      cursor: pointer;
    }
  }
}