.item {
  border-radius: 18px;
  padding: 18px;
  background: #0D182E;
  font-size: 12px;

  &:not(:last-of-type) {
    margin-bottom: 8px;
  }

  &:last-of-type {
    margin-bottom: 37px;
  }

  h2, h3 {
    font-weight: 400;
  }

  h2 {
    font-size: 18px;
    margin-right: 14px;
    display: inline-block;
  }

  h3 {
    font-size: 12px;
    color: #868B96;
  }
}

.titleRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-bottom: 14px;

  &:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #252F43;
  }

  > div:first-child {
    display: flex;
    align-items: center;
  }

  > div:nth-of-type(2) {
    > span:first-child {
      margin-right: 6px;
    }
  }
}

.infoBlock {
  padding-top: 14px;
  display: flex;
  justify-content: space-between;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 39px;
    border-radius: 8.4px;
    border: none;
    background: #132240;
    cursor: pointer;
  }

  > div > div:nth-of-type(1) {
    h3 + p {
      color: #537C50;
    }
  }

  > div {
    display: flex;
    justify-content: space-between;
    width: 73%;
  }

  > div > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.orderInfoBlock.infoBlock {
  > div {
    width: 100%;
    justify-content: flex-start;
    column-gap: 28px;
  }

  h3 {
    margin-bottom: 14px;
  }

}

.accepted, .cancelled {
  position: relative;
  padding-left: 7px;
  font-size: 14px;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: 4px;
    height: 4px;
    border-radius: 50%;
  }
}

.accepted {
  color: #537C50;

  &:before {
    background: #537C50;
  }
}

.cancelled {
  color: #BA5349;

  &:before {
    background: #BA5349;;
  }
}
