@import 'src/components/Common/Variables/variables';

$popup_gap: 193px;

.linkBlock {
  margin-bottom: 34px;
}

.transactionsBlock {
  height: auto;
  overflow: auto;
  max-height: calc(100vh - #{$header_height} - #{$navigation_height} - #{$popup_gap});
}