.currencyWrap {
  display: flex;
  column-gap: 16px;
  padding: 25.5px 18px;
  border-radius: 18px;
  background: #0C1527;
  margin-bottom: 8px;

  img {
    width: 40px;
    height: 40px;
  }

  > div {
    width: 100%;
  }

  .name {
    font-size: 24px;
  }

  .currencyLine {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;

    & + p {
      font-size: 15px;
      color: #6D737D;
    }
  }

  .networkWrap {
    background: #2C4A7E;
    padding: 7px 8.46px;
    border-radius: 6.83px;

    span {
      font-size: 13px;
      font-weight: 500;
    }
  }
}

.networkBlock {
  padding: 21px 18px;
  border-radius: 18px;
  background: #0D182E;
  margin-bottom: 8px;

  span {
    font-size: 18px;
  }
}

.addressRow {
  display: flex;
  column-gap: 5px;

  div {
    width: 100%;
    position: relative;
  }

  input {
    width: 100%;
    background: #0D182E;
    border-radius: 18px;
    border: none;
    padding: 20px 16px;
    font-size: 18px;
    color: #ffffff;

    &::placeholder {
      font-size: 18px;
      color: #ffffff;
    }

    & + img {
      position: absolute;
      width: 20px;
      height: 20px;
      right: 18px;
      top: 50%;
      transform: translate(0,-50%);
    }
  }

  .qrWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 58px;
    height: 61px;
    flex: 0 0 auto;
    border-radius: 17.42px;
    background: #0D182E;

    img {
      width: 20px;
      height: 20px;
    }

  }

}