.main {
  background: #242b3f;
}

.total-block {
  padding-top: 31px;

  p {
    font-size: 18px;
    padding-bottom: 16px;
  }
}

.currency-block {
  display: flex;
  align-items: flex-end;
  padding-bottom: 28px;
}

.total {
  display: inline-block;
  font: bold 42px 'BaiJamjuree', sans-serif;
  margin-right: 20px;
  line-height:0.9em;
}

.currency {
  display: inline-block;
  padding: 6px 14.5px;
  background: #4C81BA;
  border-radius: 40px;
  color: #000000;
  font-weight: 700;
}

