.main {
  background: #242b3f;
}

.total-block {
  padding-top: 30px;

  p {
    font-size: 18px;
    padding-bottom: 16px;
    line-height: 1.01rem;
  }
}

.currency-block {
  display: flex;
  align-items: flex-end;
  padding-bottom: 28px;
}

.total {
  display: inline-block;
  font: bold 42px 'BaiJamjuree', sans-serif;
  line-height: 2.37rem;
  margin-right: 20px;
}

.currency {
  display: inline-block;
  padding: 6px 14.5px;
  background: #4C81BA;
  border-radius: 40px;
  color: #000000;
  font-weight: 700;
  line-height: 0.9rem;
}

.currency-list {
  background: #091223;
  padding-top: 25px;
  border-radius: 24px 24px 0 0;

  &__item {
    display: flex;
    justify-content: space-between;
    background: #0D182E;
    padding: 1.125rem;
    border-radius: 1.125rem;
    margin-bottom: 6px;
    font-size: 18px;

    &:last-child {
      margin-bottom: 2px;
    }
  }
}

.title-block {
  display: flex;
  align-items: center;
}

.value-block {
  display: flex;
  align-items: center;
}

.image {
  margin-right: 12px;
}

.loader {
  margin-left: 16px;
}

.addition {
  display:none;
  padding-top: 6px;
  line-height:11px;
  color:#565d6d;
  font-size:12px;
}

.fluctuation {
  background: #1A1A1A;
  border-radius: 8px;
  font-size: 12px;
  color: #7EBD19;
  margin-left: 6px;
  padding:8px;
}