@import 'src/components/Common/Variables/variables';
$inner_gap:87px;

.innerWrap {
  padding-top: 24px;
}

.listWrap {
  height: calc(100vh - #{$header_height} - #{$inner_gap} - #{$navigation_height});
  overflow: auto;
}
