/*icomoon*/
@font-face {
    font-family: 'icomoon';
    src:  url('./icomoon.eot?yot5o7');
    src:  url('./icomoon.eot?yot5o7#iefix') format('embedded-opentype'),
    url('./icomoon.ttf?yot5o7') format('truetype'),
    url('./icomoon.woff?yot5o7') format('woff'),
    url('./icomoon.svg?yot5o7#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-Frame-722:before {
    content: "\e900";
}
.icon-Frame-767:before {
    content: "\e901";
}
.icon-file-06:before {
    content: "\e902";
}
.icon-file-search-02:before {
    content: "\e903";
}
.icon-trend-up-01:before {
    content: "\e904";
}
.icon-wallet-04:before {
    content: "\e905";
}
.icon-home-01:before {
    content: "\e906";
}
