.navigation-bar {
 /* position: fixed;
  bottom: 0;
  top: 0;
  width: 100%;
  height:100px;*/
  display: flex;
  background: grey;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 25px;
}

.navigation-item {
  &__active {
    border-radius: 18px;
    background-color: aqua;

    span {
      color: pink;
    }
  }
}

.icon {
  margin-bottom: 6px;
}

.activeIcon {

}

.icon {
  width: 24px;
  height: 24px;
}