.navigation-bar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.wrap {
  display: flex;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 25px;
  background: #080F1E;
}

.navigation-item {
  &__active {
    border-radius: 18px;
    background-color: aqua;

    span {

    }
  }
}

.icon {
  margin-bottom: 6px;
  width: 24px;
  height: 24px;
}
