$header_height: 90px;
$navigation_height: 102px;
$popup_gap: 111px;

.currency-popup {
  position: fixed;
  left: 0;
  top: -1000px;
  width: 100%;
  z-index: 100;
  transition: top 500ms linear;

  :global(.resize) {
    position: relative;
    transition: top 500ms linear;
    top: -1000px;
    height: calc(100vh - #{$navigation_height});
    background: #091223;
  }

  &.popup-show {
    z-index:150;
    top:0;
    :global(.resize) {
      top:0;
    }
  }

  :global(.wrap) {
    height: calc(100vh - #{$navigation_height} - #{$header_height});
    padding-top: 15px;
  }

  &__list-wrap {
    height: calc(100vh - #{$navigation_height} - #{$header_height} - #{$popup_gap});
    overflow: auto;
  }

  &__button-row {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-top: 8px;
    margin-bottom: 8px;
    column-gap: 4px;

    [type="radio"] + p {
      font-size: 14px;
      font-family: 'Inter', sans-serif;
      line-height: 0.9em;
      border-radius: 30px;
    }

    > div {
      flex: 0 0 auto;
    }

    > div:not(:first-child) {
      width: 60px;
    }
  }
}

.list-item {
  padding: 30px 16px;
  margin-bottom: 8px;
  border-radius: 18px;
  background: #0D182E;
  font-size: 18px;
  font-weight: 500;

  > div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    > div:first-child {
      display: flex;
      align-items: center;
    }
  }

  img {
    display: block;
    width: 24px;
    height: 24px;
    margin-right: 16px;
  }
}