@import 'src/components/Common/Variables/variables';

$inner_gap: 201px;

.row {
  display: flex;
  column-gap: 4px;
  margin-bottom: 16px;
}

.linkRow {
  padding-top: 15px;
}

.searchRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 22px;

  label {
    width: 42.86%;
    height: 52px;
  }
}

.currencyWrap {
  height: calc(100vh - #{$header_height} - #{$inner_gap} - #{$navigation_height});
  overflow: auto;
}