.wrap {
  position: relative;
  height: 37px;
  user-select: none;
}

.stripe {
  position: absolute;
  top: 7px;
  height: 2px;
  width: 100%;
  background: #535965;
  z-index: 1;
}

.stripe.active {
  background: white;
  width: 0;
  z-index: 2;
}

.circles {
  display: flex;
  position: relative;
  top: 2px;
  justify-content: space-between;
  width: 100%;
}

.circleGrey {
  position: relative;
  width: 12px;
  height: 12px;
  background-color: #091223;
  border: 2px solid #535965;
  border-radius: 50%;
  cursor: pointer;
  z-index: 3;

  &.included {
    border-color: #ffffff;
    background-color: #091223;
  }
}

.valueStart, .valueEnd, .valueCurrent {
  position: absolute;
  top: 26px;
  font-size: 12px;
  font-weight: 700;
  color: #535965;
}

.valueStart {
  left: 0;
}

.valueEnd {
  right: 0;
}

.valueStart, .valueEnd {
  visibility: visible;
}

.valueCurrent {
  z-index: 4;
}

.circleActive {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  background-color: #091223;
  border-radius: 50%;
  border: 3px solid #ffffff;
  cursor: pointer;
  z-index: 4;
}

.hiddenBlock {
  visibility: hidden;
}
