.close {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 24px;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background: none;
    border: none;
    cursor: pointer;
  }
}