$header_height: 90px;
@import "src/components/Common/Mixins/mixins";

.popup {
  @include topPopUpHeaderOffset(24px, 24px);

  h2 {
    margin-bottom: 10px;
    font-size: 16px;
    color: #586174;
  }
}

.row, .row2, .mainRow, .btnRow {
  display: flex;
  column-gap: 8px;
}

.row {
  margin-bottom: 15px;
}

.row2 {
  margin-bottom: 25px;
}

.mainRow {
  column-gap: 4px;
  margin-bottom: 20px;
}

.btn {
  height: 64px;
}

.darkBtn {
  height: 64px;
  background: #0D182E;
}

.btnRow {
  margin-bottom: 50px;
}
