.wrap {
  position: relative;
  font-size: 15px;
}

.checkBox {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  opacity: 0;
  z-index: 2;
  cursor: pointer;

  &:checked + div .circle {
    background: #2C4A7E;
    border-color: transparent;
  }
}

.circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 10px;
  border: 1px solid #868B96;

  & + span {
    padding-right: 10px;
  }
}

.valueBlock {
  display: flex;
  align-items: center;
}
