@import "src/components/Common/Mixins/mixins";
$header_height: 90px;

@include bottomPopUpMixin();

.network-popup {

  &__scrollable-wrap {
    height: auto;
    overflow: auto;
  }

  h2 {
    font-size: 19px;
    text-align: center;
    margin-bottom: 24px;
  }
}
