.wrap {
  position: relative;
  width: 100%;
  height: 40px;

  p {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #0D182E;
    border-radius: 14px;
    pointer-events: none;
    font-size: 15px;
    z-index: 1;
  }
}

.radio {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  opacity: 0;
  z-index: 2;
  cursor: pointer;

  &:checked + p {
    background: #2C4A7E;
  }
}

.valueBlock {
  display: flex;
  align-items: center;

  .circle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid #868B96;
  }
}

.innerRadio {
  .radio {
    &:checked + p {
      background: #0D182E;
    }

    &:checked + p .circle {
      background: #2C4A7E;
      border-color: transparent;
    }
  }

}