body {
  font: normal 16px 'Roboto', sans-serif;
  background: #1a1a1a;
  color: #fff;
  /*background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);*/
}

* {
  outline: none;
  box-sizing: border-box;
}

body, html, p, h1, h2, h3, menu, nav, ul, ul li {
  margin: 0;
  padding: 0;
}

p, span {
  line-height: 0.9em;
}

menu, nav, ul, ul li {
  list-style: none;
}

a, a:visited, a:active, a:link {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
  text-decoration: none;
}

:focus {
  outline: none !important;
}

a img {
  border: none;
}

form, menu, iframe {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
}

ol, ul, dl, li, dt, dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,h2,h3 {
  line-height: 0.9em;
}

h1 {
  padding: 0;
  line-height: 1.2em;
}

h2 {
  color: #ffffff;
  font-weight: bold;
}

h3 {
  font-weight: bold;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

.resize {
  width: 620px;
  margin: 0 auto;

  &.main-content {
    min-height: 100vh;
    background: #091223;
  }

  .inner-wrap {
    width: 100%;
    min-height: 100vh;
    position: relative;
    padding-bottom: 110px;

    &.no-padding {
      padding-bottom: 0;
    }
  }
}

@media screen and (max-width: 800px) {
  .resize {
    margin: 0;
    width: 100%;
  }
}

.wrap {
  padding-left: 16px;
  padding-right: 16px;
}

@font-face {
  font-family: 'Roboto';
  src: url('../src/assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../src/assets/fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'BaiJamjuree';
  src: url('../src/assets/fonts/BaiJamjuree-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'BaiJamjuree';
  src: url('../src/assets/fonts/BaiJamjuree-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

.navigation-bar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}



