.currencyBlock {
  padding: 18px;
  border-radius: 18px;
  background: #0D182E;
  margin-bottom: 8px;
}

.imgRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;

  img:first-child {
    display: block;
    width: 40px;
    height: 40px;
    margin-right: 16px;
  }

  > div, .addWrap {
    display: flex;
    align-items: center;

    span {
      font-size: 18px;
    }
  }

  button {
    display: flex;
    align-items: center;
    width: 24px;
    height: 24px;
    padding: 0 3px;
    border: none;
    background: none;
    cursor: pointer;

    .buttonWrap {
      display: flex;
      column-gap: 3px;

      span {
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: #868B96;
      }
    }
  }

  .addWrap {
    span {
      display: block;
      margin-right: 5px;
      font-size: 15px;
      color: #858A93;
      font-weight: 500;
    }

    img {
      display: block;
    }
  }
}

.infoBlock {

  > div {
    display: flex;
    justify-content: space-between;

    span {
      font-size: 15px;
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.statusBlock {
  padding-top: 20px;

  > div {
    border-radius: 11px;
    padding: 9px 11px;
    background: #43526C;

    > div {
      display: flex;
      align-items: center;
    }

    span {
      margin-left: 10px;
    }
  }
}