@import "../../Common/Mixins/mixins";
$header_height: 90px;

@include bottomPopUpMixin();

.network-popup {

  :global(.wrap) {
    padding-left: 16px;
    padding-right: 16px;
  }

  &__inner-wrap {
    height: auto;
    overflow: auto;
  }

  h2 {
    font-size: 19px;
    text-align: center;
    margin-bottom: 24px;
  }
}
